*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/*styles for header*/
.header{
    background-color: #F4D03F;
    display: inline-block;
    width: 100%;
    padding: 15px;
}

.header h3{
     display: inline-block;
     float: left;
}

.nav-header li{
    list-style: none;
    display: inline-block;
    position: relative;
    left: 60%;
    padding: 0 10px;
}

.nav-header li a{
    text-decoration: none;
    color: #000;
}

.title-header{
    font-family: 'Karla', sans-serif;
    background-image: url('../assets/images/bora-bora.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #F4D03F;
    font-size: 3em;
    text-align: center;
}

.title-header h1{
    padding-top: 5%;
}

/*styles for introduction section*/
.introduction{
    text-align: center;
    display: table;
    margin-left: 8.33333333%;
}

.introduction .colum{
    float: left;
    text-align: justify;
    padding:  0.50%;
    
}
.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
  }

.buton{
    display: inline-block;
    background: #F4D03F;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
}
/*styles for section continents*/

.continents{
    display: table;
    float: left;
    width: 300px;
    height: 200px;
    margin-left: 8.33333333%;
}
.images img{
    width: 300px;
    height: 200px;
}

/*styles for footer*/
footer{
    display: block;
    text-align: center;
    margin: 10px auto;
    background: #F4D03F;
}

